<div class="row mx-5">
    <div class="mb-3 col">
        <label for="exampleFormControlInput1" class="form-label">First name</label>
        <input type="firstName" class="form-control" id="firstName" placeholder="First Name">
      </div>
      <div class="mb-3 col">
        <label for="exampleFormControlInput1" class="form-label">Last name</label>
        <input type="lastName" class="form-control" id="lastName" placeholder="Last Name">
      </div>
</div>

<div class="row mx-5">
    <div class="mb-3 col">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="mb-3 col">
        <label for="exampleFormControlInput1" class="form-label">Country</label>
        <input type="country" class="form-control" id="email" placeholder="country">
      </div>
      <div class="mb-3 col">
        <label for="exampleFormControlInput1" class="form-label">Age</label>
        <input type="age" class="form-control" id="email" placeholder="Age">
      </div>
</div>
<div>
    <button type="button" class="btn btn-primary mx-5">Save</button>
</div>
