<br>
<br>
<div class="container col-12">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Paramter</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>First Name</td>
        <td>{{personService.currentPerson.firstName}}</td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td>{{personService.currentPerson.lastName}}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{personService.currentPerson.email}}</td>
      </tr>
      <tr>
        <td>Country</td>
        <td>{{personService.currentPerson.country}}</td>
      </tr>
      <tr>
        <td>Age</td>
        <td>{{personService.currentPerson.age}}</td>
      </tr>
    </tbody>
    </table>

</div>